<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/md-topbar', null, {cache: !config.relative_link}) %>
  <div class="site-con">
    <div class="site-left">
        <%- partial('_partial/md-sidebar', null, {cache: !config.relative_link}) %>
    </div>
    <div class='docs-content-area site-right'>
      <%- body %>
    </div>
  </div>
  <%- partial('_partial/md-footer', null, {cache: !config.relative_link}) %>
  <script type="text/javascript">
    hljs && hljs.initHighlightingOnLoad();
  </script>
</body>
</html>